@import '../mixin';

.breadcrumb {
    @include flex-center(none, center);
    align-self: start;
    padding-bottom: 8px;
    
    &>.breadcrumb-location {
        height: 100%;
        padding: 5px 10px;
        border-left: solid 2px var(--greydark);
        font-size: 0.95em;
        font-weight: 600;

        @media screen and (min-width: 1024px) {
            border: none;
            padding: 5px 10px 5px 0;
        }
    }
}