@import '../mixin';

.breadcrumb-return-btn {
    width: 90px;
    padding: 5px 10px 5px 5px;

    @media screen and (min-width: 1024px) {
        width: auto;
        padding: 5px;
    }
}

.breadcrumb-mobile-btn {
    @include flex-center(space-between, center);
    font-size: 0.95em;
    color: var(--main);

    &:hover {
        text-decoration: underline !important;
    }

    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.breadcrumb-desktop-btn {
    display: none;

    @media screen and (min-width: 1024px) {
        @include flex-center(center, center);
        color: var(--greydark);
    }
}