@import '../../../styles/mixin';

.Product-layout-box {
    @include flex-center(center, center, column);
    padding: 30px 20px;
    background: var(--white);

    &>h2 {
        align-self: flex-start;
        padding-bottom: 10px;
    }

    &>img {
        max-height: 300px;
        height: auto;
        width: auto;
        max-width: 100%;
    }

    &>.price-stock {
        @include flex-center(none, center, column);
        gap: 10px;
        background: var(--pale);
        width: 100%;
        padding: 8px;

        &>.price {
            font-weight: 600;
            color: var(--main);
            font-size: 2.5em;
        }

        &>button {
            @include flex-center(space-between, center);
            padding: 0 15px;
            color: var(--greydark);
            font-size: 0.9em;
            font-weight: 600;
            border: none;
            border-radius: 50px;
            height: 40px;
            width: 245px;
            max-width: 100%;

            &.cart {
                background: #FF9100;
            }

            &.buy {
                background: var(--main);
            }
        }

        &>.stock {
            @include flex-center(none, center, column);
            width: 245px;
            max-width: 100%;
            height: 85px;
            background: var(--white);

            &>p {
                background: var(--greydark);
                width: 100%;
                text-align: center;
                padding: 3px;
            }
        }
    }

    &>.desc {
        &>p {
            padding: 10px 0;
        }
    }

    @media screen and (min-width: 1024px) {
        
        display: grid;
        grid-template-columns: 35% 40% 25%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "title title title"
        "img desc price";

        &>h2 {
            grid-area: title;
        }

        &>img {
            grid-area: img;
            justify-self: center;
        }

        &>.desc {
            grid-area: desc;
            height: 100%;
            padding: 15px;
        }

        &>.price-stock {
            grid-area: price;
            height: 100%;
            padding: 0 10px;
        }
    }
}