@import '../../mixin';

.category-list {
    background: var(--white);
    border-bottom: solid 2px var(--dark);
    border-left: solid 2px var(--dark);

    &>li {
        height: 50px;
        border-right: solid 1px var(--grey);
        border-bottom: solid 1px var(--grey);
        
        &>a {
            padding: 0 10px;
            line-height: 100%;
            @include flex-center(space-between, center);
            width: 100%;
            height: 100%;
            font-size: 0.9em;
            color: var(--greydark);
            
            &>div {
                @include flex-center(space-between, center);

                &>img {
                    margin: 0 10px 0 0;
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background: var(--pale);
            border-right: none;
            
            &>a {
                color: var(--main);
            }
        }
    }
}