@use './styles/products';
@use './styles/productsFilter';
@use './styles/productFilterBox';
@use './styles/productBox';
@use './styles/stock';
@use './styles/productFilterForm';

@import '../../styles/mixin';

.products-list {
    padding: 8px;
    background: var(--white);
    @include flex-center(center, center, column);

    &>.products-list-box {
        max-width: 1210px;
        width: 100%;
    }

    @media screen and (min-width: 480px) {
        padding: 10px 18px 0 18px;
        background: var(--grey);
    }
}

.product-layout {
    background: var(--white);
    margin: 25px 0;

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-areas:
            "Search products";
    }
}

