@use './styles/categorysSubList';
@use './styles/categorysSubBox';
@use './styles/TopVente';

@import '../../styles/mixin';

.category-list {
    padding: 8px;
    background: var(--white);
    @include flex-center(center, center, column);

    &>.category-list-box {
        max-width: 1210px;
        width: 100%;
    }

    @media screen and (min-width: 480px) {
        padding: 10px 18px 0 18px;
        background: var(--grey);
    }
}