@use './styles/categorysSubList';
@use './styles/categorysSubBox';
@use './styles/TopVente';

@import '../../styles/mixin';

.categoryList {
    padding: 8px;
    background: var(--white);
    @include flex-center(center, center, column);

    &>.categoryListBox {
        max-width: 1210px;
        width: 100%;
    }

    @media screen and (min-width: 480px) {
        padding: 10px 18px 0 18px;
        background: var(--grey);
    }
}

.categoryList-topText {
    position: relative;
    overflow: hidden;
    height: 45px;
    font-size: 0.7em;
    text-align: justify;
    color: var(--greydark);


    &>button {
        position: absolute;
        bottom: 3px;
        right: 0;
        border: none;
        background: var(--white);
        background: linear-gradient(90deg,
                rgba(255, 255, 255, 0) 0%,
                var(--white) 20%,
                var(--white) 100%);
        font-size: 1em;
        color: var(--greydark);
        text-decoration: underline !important;
        padding-left: 40px;
        cursor: pointer;

        @media screen and (min-width: 480px) {
            background: var(--grey);
            background: linear-gradient(90deg,
                    rgba(255, 255, 255, 0) 0%,
                    var(--grey) 20%,
                    var(--grey) 100%);
        }

    }

    @media screen and (min-width: 770px) {
        overflow: unset;
        height: auto;

        &>button {
            position: unset;
            background: transparent;
            padding-left: 3px;
        }
    }
}

.categoryList-bottomText {
    font-size: 0.7em;
    color: var(--greydark);
    padding-bottom: 15px;
}