@import '../../mixin';

form {
    height: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: 
        "searchInput searchBtn";

    &>.searchForm {
        grid-area: searchInput;
        padding-left: 15px;
        background: var(--white);
        border: none;
        width: 100%;
        height: 90%;

        &:focus {
            outline: none;
        }

        @media screen and (min-width: 480px) {
            height: 100%;
        }
        @media screen and (min-width: 1024px) {
            height: 50%;
        }
    }

    &>.searchBtn {
        height: 90%;
        grid-area: searchBtn;
        background: var(--white);
        border: none;
        @include flex-center(flex-end, center, column);
        cursor: pointer;

        &>svg#searchBtn {
            transform: rotateY(180deg);

            &:hover {
                filter: brightness(60%);
            }
        }

        
        @media screen and (min-width: 480px) {
            height: 100%;
        }
        
        @media screen and (min-width: 1024px) {
            height: 50%;
        }
    }

    @media screen and (min-width: 1024px) {
        align-items: center;

        &.searchSticky {

            &>.searchForm, .searchBtn {
                height: 80%;
            }
        }
    }
}