@import '../../../styles/mixin';

.contentMap {
    display: none;
    padding: 30px 0;
    background: var(--pale);
    border-bottom: solid 1px var(--grey);
    

    &>h2 {
        text-align: center;
        padding: 0 50px;
        font-size: 1.1em;
        font-weight: 500;
        padding-bottom: 20px;
    }

    &>p {
        font-size: 0.8em;
        color: var(--greydark);
        text-align: center;
        padding: 0 40px;
        padding-bottom: 12px;
    }

    &>button {
        margin: 0 15px;
    }

    @media screen and (min-width: 770px) {
        @include flex-center(center, center, column);
    }
}