.contentPromo {
    background: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid 1px var(--greydark);

    &>h2 {
        color: var(--greydark);
        font-weight: 600;
        padding-bottom: 20px;
    }

    &>img {
        padding-bottom: 8px;
    }

    &>p {
        font-size: 0.8em;
        padding: 0 10px 10px 10px;
        color: var(--greydark);
    }

    &>button {
        display: flex;
        align-items: center;
        gap: 3px;
        background: transparent;
        border: solid 2px var(--dark);
        border-radius: 50px;
        padding: 5px 12px;
        font-weight: 600;
        color: var(--dark);
        cursor: pointer;
        transition: 0.2s ease-out;

        &:hover {
            background: var(--dark);
            color: var(--grey);
        }
    }

    @media screen and (min-width: 770px) {
        border: none;
        background: var(--pale);

        &>h2 {
            font-size: 1.1em;
            font-weight: 500;
        }

        &>img {
            width: 90%;
            height: auto;
        }
    }
}