@import '../../../styles/mixin';

.contentService {
    background: var(--grey);
    @include flex-center(none, center, column);

    &>h2 {
        color: var(--greydark);
        font-weight: 600;
        padding-top: 30px;
    }

    &>a {
        display: grid;
        grid-template-rows: auto auto;
        padding-top: 30px;
        grid-template-areas:
        "top"
        "bottom";
        justify-items: center;

        &>div {
        @include flex-center(none, center, column);
        grid-area: top;
        width: 100%;

            &>p {
                text-align: center;
                font-size: 0.8em;
                padding-bottom: 10px;
                color: var(--greydark);
            }
            
            &>button {
                @include flex-center(none, center);
                gap: 3px;
                background: transparent;
                border: solid 2px var(--dark);
                border-radius: 50px;
                padding: 5px 12px;
                font-weight: 600;
                color: var(--dark);
                cursor: pointer;
                transition: 0.2s ease-out;
    
                &:hover {
                    background: var(--dark);
                    color: var(--grey);
                }
            }
        }

        &>img {
            grid-area: bottom;
            padding-top: 5px;
        }

        @media screen and (min-width: 480px) {
            grid-template-rows: 100%;
            grid-template-columns: 50% 50%;
            padding-top: 20px;
            padding-bottom: 45px;
            grid-template-areas: 
            "bottom top";

            &>div {
                height: 100%;
                padding-top: 10px;
                padding-bottom: 12px;
                align-items: flex-start;

                &>p {
                    text-align: start;
                }
            }

            &>img {
                justify-self: flex-start;
                height: 150px;
                width: auto;
            }
        }
    }
    @media screen and (min-width: 770px) {
        display: none;
    }
}