@import '../../../styles/mixin';

.pl-breadcrumb {
    @include flex-center(none, center);
    align-self: start;
    padding-bottom: 8px;
    
    &>.location {
        height: 100%;
        padding: 5px 10px;
        border-left: solid 2px var(--greydark);
        font-size: 0.95em;
        font-weight: 600;
    }
}