@import '../../../styles/mixin';

.products {
    width: 100%;

    &>.title {
        display: none;
        padding: 25px 22px;

        &>h2 {
            font-size: 1.2em;
        }

        &>.wrap {
            display: none;
            position: relative;
            
            &::after {
                content: "˅";
                font-size: 1.1rem;
                top: 10px;
                right: 12px;
                position: absolute;
                transform: scale(1.8, 1);
                color: var(--main);
            }

            &>.sort-select {
                -webkit-appearance: none;
                appearance: none;
                width: 190px;
                height: 40px;
                border-radius: none;
                border: solid 1px var(--grey);
                background: transparent;
                padding: 12px 10px 10px 10px;
                transition: 0.3s ease-out;

                &:focus {
                    border: solid 1px var(--greydark);
                }
            }

            @media screen and (min-width: 1024px) {
                display: block;
            }

        }

        @media screen and (min-width: 480px) {
            @include flex-center(space-between, center);
        }
    }
}