@import '../../../styles/mixin';

.product-filter-form {
    @include flex-center(none, none, column);
    padding-top: 30px;

    &>h2 {
        padding: 0 15px;
        font-size: 1.2em;
        text-align: center;
    }

    @media screen and (min-width: 1024px) {
        background: var(--pale);
        align-items: unset;
        min-height: 300px;

        &>h2 {
            border-bottom: solid 2px var(--white);
            padding: 0 5px;
            padding-bottom: 15px;
            margin: 0 10px;
        }

        &>.form {
            border: none;
        }
    }
}

.form {
    @include flex-center(none, none, column);
    border-bottom: solid 1px var(--grey);
    padding-bottom: 10px;
    font-size: 0.9em;
    font-weight: 600;

    &.form-search {
        font-weight: 400;
        padding: 20px 15px 10px 15px;

        &>.input-search {
            @include flex-center(none, center);
            width: 100%;
            height: 40px;
            margin-top: 10px;
            margin-bottom: 10px;

            &>input {
                padding-left: 10px;
                width: 90%;
                height: 100%;
                border: solid 1px var(--grey);
                border-right: none;

                &:focus {
                    outline: none;
                }
            }

            &>.search-logo {
                width: 10%;
                height: 100%;
                border: solid 1px var(--grey);
                border-right: none;
                background: var(--white);
                transform: rotateY(180deg);
                cursor: pointer;
            }
        }
    }

    &.form-price {

        &>.label-price {
            @include flex-center(space-between, none);
            padding: 20px 15px 0 15px;

            &>div {
                
                &>p {
                    color: var(--greydark);
                    font-weight: 400;
                    padding-left: 5px;
                }

                &>button {
                    transition: 0.3s ease-out;
                    border: none;
                    background: transparent;
                    color: var(--main);
                    
                    &.open {
                        transform: rotate(180deg);
                    }

                    @media screen and (min-width: 1024px) {
                        display: none;
                    }
                }
            }
        }

        &>.form-input-price {
            padding: 0 30px;
            width: 100%;
            max-height: 0;
            height: 65px;
            overflow:  visible hidden;
            transition: 0.4s ease-out;

            &>input {
                width: 100%;
            }

            &>.min-max {
                @include flex-center(space-between, none);
                font-weight: 400;
            }

            &>.current-price {
                width: 100%;
                &>p {
                    text-align: center;
                    font-weight: 400;
                }
            }

            &.open {
                max-height: 150px;

            }

            @media screen and (min-width: 1024px) {
                max-height: unset;
                height: unset;
                overflow: unset;
                padding-top: 10px;
            }
        }
    }
}