.product-filter-box {
    position: fixed;
    z-index: 15;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    transition: opacity 1s;
    transition: 0.5s ease-in-out;
    overflow: hidden;

    &.fadeout {
        transform: none;
    }
    
    &.fadein {
        transform: translateY(-100vh)
    }

    &>button {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: none;
        background: var(--grey);
        
        &>div {
            transition: 0.3s ease-out;
            color: var(--greydark);
        }

        &:hover {
            
            &>div {
                transform: rotate(180deg);
            }
        }
        
    }

    @media screen and (min-width: 1024px) {
        z-index: unset;
        position: unset;
        transition: none;
        
        &.fadeout {
            transform: none;
        }
        &.fadein {
            transform: none
        }

        &>button {
            display: none;
        }
    }
}