@import '../../../../styles/mixin';

.content-brand {
    background: var(--grey);
    display: none;
    position: relative;
    padding-top: 30px;
    

    &>button {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &>.brands {
        @include flex-center(center, center);
        padding-top: 30px;
        padding-bottom: 30px;
        
        &>li {
            @include flex-center(center, none);
            &>img {
            width: 70%;
            height: auto;
            }
        }
    }

    @media screen and (min-width: 770px) {
        @include flex-center(none, center, column);
    }
}