@import '../../../../styles//mixin';

.content-slide {
    @include flex-center(center, center);
}

.product-slide {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
    "arrowLeft content arrowRight";

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &>.arrow-left {
        grid-area: arrowLeft;
    }

    &>.arrow-right {
        grid-area: arrowRight;
    }

    &>.arrow-left, .arrow-right {

        &>.arrow {
            color: var(--greydark);
            filter: brightness(200%);
        }
        &:hover>.arrow {
            filter: none;
        }
    }
    
    &>.product-box {
        width: 100%;
        grid-area: content;

        &>.product-box-photo {
            width: 200px;
            height: 215px;
            display: flex;
            justify-content: center;
            padding-bottom: 15px;
        
            &>img {
                height: 100%;
                width: auto;
            }
        }

        &>.product-name {
            color: var(--greydark);
            font-size: 0.9em;
            width: 80%;

            &:hover {
                text-decoration: underline !important;
            }
        }

        &>.price {
            padding-top: 25px;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>.product-price {
                font-weight: 600;
                color: var(--dark);
            }

            &>button {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 50%;
                background: darkorange;
                width: 40px;
                height: 40px;
            }
        }
    }
}