@use './styles/promoBanner';
@use './styles/content';
@use './styles/contentProducts';
@use './styles/contentMap';
@use './styles/contentPromo';
@use './styles/contentService';
@use './styles/contentBrand';
@use './styles/Loading';

@import '../../styles/mixin';

.home {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "top"
    "bottom";
    justify-items: center;

    &>.promoBanner {
        grid-area: top;
    }

    &>.content {
        grid-area: bottom;
    }
}