@use './styles/content/content';
@use './styles/content/contentBrand';
@use './styles/content/contentMap';
@use './styles/content/contentProducts';
@use './styles/content/contentProductSlide';
@use './styles/content/contentPromo';
@use './styles/content/contentService';
@use './styles/promoBanner/promoBanner';


@import '../../styles/mixin';

.home {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "top"
    "bottom";
    justify-items: center;

    &>.promo-banner {
        grid-area: top;
    }

    &>.content {
        grid-area: bottom;
    }
}