@use './styles/productLayout';

@import '../../styles/mixin';

.products-page {
    @include flex-center(center, center, column);
    background: var(--white);
    padding-top: 8px;
    
    &>.product-page-box {
        max-width: 1210px;

    }
    @media screen and (min-width: 480px) {
        
        background: var(--grey);
        padding: 10px 20px;
    }
}

.loading-product {
    height: 100vh;
    background: var(--white);

    @media screen and (min-width: 480px) {
        background: var(--grey);
    }

    @media screen and (min-width: 1024px) {
        height: 450px;
    }
}