@import '../mixin';

.return-btn {
    width: 90px;
    padding: 5px 10px 5px 5px;
    
    &>.return-link {
        @include flex-center(space-between, center);
        font-size: 0.95em;
        color: var(--main);

        &:hover {
            text-decoration: underline !important;
        }
    }
}