@import '../mixin';

.footerLogo {
    width: 100%;
    padding: 35px 0;
    border-bottom: solid 1px var(--white75);
    position: relative;
    @include flex-center(center, center, column);


    &>img {
        width: 50px;
        height: auto;
        padding-bottom: 25px;
    }

    &>ul {
        @include flex-center(center, none);
        flex-wrap: wrap;

        &>li {
            padding: 0 8px;
            font-size: 0.85em;
            line-height: 150%;
            color: var(--grey);
        }
    }
}

.footerLogoLeft {
    position: absolute;
    right: 0;

    @media screen and (max-width: 990px) {
        display: none;
    }
}