.CategoryList {
    position: absolute;
    z-index: 2;
    top: 40px;
    left: -2px;
    background: var(--white);
    border-bottom: solid 2px var(--dark);
    border-left: solid 2px var(--dark);
    width: 202px;

    &>li {
        height: 50px;
        border-right: solid 1px var(--grey);
        border-bottom: solid 1px var(--grey);
        
        &>a {
            padding: 0 10px;
            line-height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 0.9em;
            
            &>div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &>img {
                    margin: 0 10px 0 0;
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.SubCategoryList {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: calc(100% - 1px);
    background: var(--pale);
    border: solid 2px var(--dark);
    border-top: none;
    width: 170px;
    height: 230px;
    padding: 10px;
    
    &>li{
        margin-bottom: 8px;
        
        &>a {
            font-size: 0.9em;
            color: var(--dark);
            font-weight: 600;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}