.headerMenu {
    visibility: hidden;
    width: 99%;

    @media screen and (min-width: 1024px) {
        visibility: visible;
        grid-area: menu;
        max-width: 1210px;
        width: 100%;
        height: 100%;
        display: flex;

        &>li {
            position: relative;
            height: 100%;
            background: var(--dark);
            border-right: solid 1px var(--grey);
            display: flex;
            justify-content: center;
            align-items: center;

            &:first-child {
                    width: 200px;
            }

            &>a,
            button {
                padding: 0 1vw;
                width: 100%;
                height: 100%;
                color: var(--white);
                font-weight: 600;
                font-size: 0.8em;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: none;
                background: none;

            }
            &>a>svg {
                display: none;

                @media screen and (min-width: 1200px) {
                    display: block;
                }
            }

            &:hover {
                filter: none;
                background: var(--white);

                &>a {
                    color: var(--light);
                }

                &>button {
                    color: var(--greydark);
                }
                
                &>*>svg {
                    color: var(--light) !important;
                }
            }
        }

        &>li:first-child {
            background: var(--light);

            &:hover {
                background: var(--white);

                &>a {
                    color: rgb(61, 61, 61);
                }
            }
        }
    }
}

.HeaderMenuList {

    &.hidden {
        display: none;
    }
}