@use './topBar/topBar';
@use './topBar/logoFuture';
@use './topBar/stickyBtn';
@use './topBar/searchBar';
@use './topBar/menuRight';
@use './bottomBar/headerMenu';
@use './menu/desktopMenuList';
@use './menu/categoryList';
@use './menu/subCategoryList';
@use './mobile/mobileMenuBtn';
@use './mobile/mobileMenuList';

@import '../mixin';

.nav-bar {
    width: 100%;
    display: grid;
    height: 90px;
    grid-template-rows: 100% 0%;
    grid-template-areas:
        "top-nav"
        "bottom-nav";
    transition: 0.3s ease-out;

    &>.top-nav {
        width: 100vw;
        background: var(--main);
        @include flex-center(center, none);
    }

    &>.bottom-nav {
        width: 100vw;
        height: 100%;
        padding: 0 7.5px;
        grid-area: bottom-nav;
        background: var(--dark);
        @include flex-center(none, none);
    
        @media screen and (min-width: 1024px) {
            justify-content: center;
        }
    }
    
    &>.menu {
        max-width: 1210px;
        width: 98.7vw;
        justify-self: center;
        position: relative;
        left: -2px;
    
    }
    @media screen and (min-width: 480px) {
        height: 110px;
        position: sticky;
        top: 0;
        z-index: 11;
    }

    @media screen and (min-width: 1024px) {
        height: 120px;
        grid-template-rows: 80px 40px auto;
        grid-template-areas:
            "top-nav"
            "bottom-nav"
            "menu";
        justify-content: center;

        position: unset;
        box-shadow: 0px -5px 4px 5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px -5px 4px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px -5px 4px 5px rgba(0, 0, 0, 0.75);

        &.header-sticky {
            position: sticky;
            top: 0;

            width: 100%;
            height: 50px;
            display: grid;
            grid-template-rows: 100% 0%;
            grid-template-areas:
                "top-nav"
                "bottom-nav";

            &>.bottom-nav {
                display: none;
            }
        }
    }
}