.headerMenu {

    & li {
        width: 300px;
        height: 50px;

        background: var(--light);
        border-bottom: solid 1px var(--white75);

        position: relative;
        top: -40px;

        & svg {
            opacity: 60%;
        }

        & a {
            padding: 0 10px 0 20px;
            font-weight: 500;
            color: var(--white);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        &:hover {
            filter: brightness(115%);
        }

        @media screen and (min-width: 480px) {
            top: -50px;
        }
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        height: 100%;
        max-width: 620px;
        width: 40vw;
        grid-area: menu;

        &>li {
            top: 0;
            height: 100%;
            background: var(--dark);
            border-right: solid 1px var(--grey);
            
            &>a {
                padding: 0 4%;
                width: 100%;
                justify-content: center;
                &>svg {
                    display: none;
                }
            }
            &:hover {
                filter: none;
                background: var(--white);

                & > a {
                    color: var(--light);
                }
            }
        }

        &>li:first-child {
            background: var(--light);
            
            &:hover {
                background: var(--white);

                & > a {
                    color: rgb(61, 61, 61);
                }
            }
        }
    }
}