.menuBtn {
    padding: 10px;
    height: 45px;
    width: 45px;
    display: flex;
    border: none;
    border-right: solid 1px var(--white);
    justify-content: center;
    align-items: center;
    background: transparent;
}

.line {
    position: absolute;
    display: block;
    width: 27px;
    height: 2px;
    background: var(--white);
    transition: transform 0.3s ease-out,
        opacity 0.1s ease-out;

    &.l1 {
        transform: translateY(-9px);
    }

    &.l2 {
        transform: translateY(-3px);
    }

    &.l3 {
        transform: translateY(+3px);
    }

    &.l4 {
        transform: translateY(+9px);
    }
}

.menuBtn.active {

    &>.l1 {
        opacity: 0;
    }

    &>.l2 {
        transform: translateY(0px) rotate(135deg);
    }

    &>.l3 {
        transform: translateY(0px) rotate(405deg);
    }

    &>.l4 {
        opacity: 0;
    }
}