.productsMenu {
    position: absolute;
    width: 300px;
    background: var(--light);
    top: 50px;
    transition: 0.3s ease-out;

    &.hidden {
        opacity: 0;
        transform: translateY(10px);
        visibility: hidden;
    }

    &>li {
        width: 300px;
        height: 50px;
        background: var(--light);
        border-bottom: solid 1px var(--white75);

        & a,
        button {
            padding: 0 10px 0 20px;
            font-weight: 500;
            font-size: 1em;
            color: var(--white);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            cursor: pointer;
            background: none;

            &.return {
                background: var(--greydark);
                justify-content: flex-start;
                font-weight: 600;
                font-size: 0.8em;
                gap: 5px;
            }
        }

        & svg {
            opacity: 60%;
        }

        &:hover {
            filter: brightness(115%);
        }
    }

    @media screen and (min-width: 480px) {
        top: 61px;
    }

    @media screen and (min-width: 1024px) {
        visibility: hidden;
    }
}