@use 'styles/variables';
@use 'styles/header/header';
@use 'styles/header/headerMenu';
@use 'styles/header/searchBar';
@use 'styles/header/menuRight';
@use 'styles/header/menuBtn';
@use 'styles/header/logoFuture';
@use 'styles/header/headerMenuList';
@use 'styles/footer/footer';
@use 'styles/footer/footerThanks';
@use 'styles/footer/footerInfo';
@use 'styles/footer/footerLogo';
@use './pages//home/home';
@use './styles/header/category';
@use './styles/header/stickyBtn';



*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

body {
    overflow-x: hidden;
}

sup {
    position: relative;
    top:3px
}
