@use 'styles/variables';
@use 'styles/header/header';
@use 'styles/header/headerMenu';
@use 'styles/header/searchBar';
@use 'styles/header/menuUserCart';
@use 'styles/header/menuBtn';
@use 'styles/header/logoFuture';

*,
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
