@use 'styles/variables';
@use 'styles/header/header';
@use 'styles/footer/footer';
@use 'styles/layout';
@use './pages/home/home';
@use './pages/categorysList/categorysList';
@use './pages/productsList/productList';
@use './pages/product/product';

@import './styles/mixin';


*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

body {
    overflow-x: hidden;
}

sup {
    position: relative;
    top:3px
}

.hidden {
    display: none;
}

h2 {
    color: var(--greydark);
    font-weight: 600;
}

.btn {
    display: flex;
    align-items: center;
    gap: 3px;
    background: transparent;
    border: solid 2px var(--dark);
    border-radius: 50px;
    padding: 5px 12px;
    font-weight: 600;
    color: var(--dark);
    cursor: pointer;
    transition: 0.2s ease-out;

    &:hover {
        background: var(--dark);
        color: var(--grey);
    }
}

.center {
    @include flex-center(center, center);
    width: 100%;
    height: 100%;
}

.top-text {
    position: relative;
    overflow: hidden;
    height: 45px;
    font-size: 0.7em;
    text-align: justify;
    color: var(--greydark);


    &>button {
        position: absolute;
        bottom: 3px;
        right: 0;
        border: none;
        background: var(--white);
        background: linear-gradient(90deg,
                rgba(255, 255, 255, 0) 0%,
                var(--white) 20%,
                var(--white) 100%);
        font-size: 1em;
        color: var(--greydark);
        text-decoration: underline !important;
        padding-left: 40px;
        cursor: pointer;

        @media screen and (min-width: 480px) {
            background: var(--grey);
            background: linear-gradient(90deg,
                    rgba(255, 255, 255, 0) 0%,
                    var(--grey) 20%,
                    var(--grey) 100%);
        }

    }

    @media screen and (min-width: 770px) {
        overflow: unset;
        height: auto;

        &>button {
            position: unset;
            background: transparent;
            padding-left: 3px;
        }
    }
}

.bottom-text {
    font-size: 0.7em;
    color: var(--greydark);
    padding-bottom: 15px;
}

.green {
    color: green;
    font-weight: 600;
    width: 50px;
    text-align: center;
}
.greydark {
    color: var(--greydark);
    font-weight: 600;
}