@import '../../mixin';

.search-result {
    background: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 110;

    &>li {
        border-top: solid 1px var(--grey);
        padding: 5px 10px;
        
        &>a {
            @include flex-center(none, center);
            color: var(--greydark);
            
            &>span {
                @include flex-center(none, center);
                gap: 5px;
                color: var(--grey);
            }
        }
    }
}