@import '../../mixin';

.sticky-btn {
    height: 100%;
    width: 45px;
    border: none;
    background: none;
    cursor: pointer;
    @include flex-center(center, center, column);
    transition: 0.3s ease-out;

    &.hidden {
        display: none;
    }

    &>.sticky-btn-line {
        margin: 5px 8px;
        height: 20px;
        width: 20px;
        @include flex-center(space-around, center, column);
    }

    &>p {
        font-size: 0.6em;
        font-weight: 600;
        color: var(--grey);
        transition: 0.05s ease-out;

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    @media screen and (min-width: 480px) {
        width: 70px;
    }

    &:hover {
            
        & > p {
            color: var(--white);
        }
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.line {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--white);
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.sticky-btn-line.active {
    justify-content: center;

    &>.l1 {
        transform: translateY(1.5px) rotate(-135deg);
    }

    &>.l2 { 
        transform: rotate(135deg);
    }

    &>.l3 {
       opacity: 0; 
    }
}